<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  {% comment %} <link rel="stylesheet" href="{% static 'css/app.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <button>Logout</button>
            </a>
            <p></p>
            <a href="{% url 'home' %}">
                <button>Home</button>
            </a>
            <p></p>
            <a href="{% url 'expense_category_create' %}"> Create Expense Category </a>
            <a href="{% url 'accounts_create' %}"> Create Account </a>
            <a href="{% url 'receipt_create' %}"> Create Receipt </a>
            <p></p>
            <a href="{% url 'expense_category_list' %}">Expense Category List</a>
            <a href="{% url 'accounts_list' %}">Account List</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
